mixin menu(selectedPage)
  #menu
    nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#")=t("app.name")
        div(class="collapse navbar-collapse " id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            each val, index in {1:'menu.invoice',2:'menu.customer',3: 'menu.product',5: 'menu.config'}
              -if(selectedPage == val)
                li.active
                  a(href=t(val))=t(val)
              -else
                li
                  a(href=t(val))=t(val)
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="/logout")=t("app.logout")