extends layout

block head
    link(rel='stylesheet', href='/stylesheets/signin.css')
block content
    div.container
        form.form-signin(method="post", id="loginForm")
            h2(class="form-signin-heading") Please sign in
            label Username
            input.form-control(id="username", type="text", name="User", placeholder="Enter your username")
            label Password
            input.form-control(id="password", type="password", name="Password", placeholder="Enter your password")
            input(class="btn btn-lg btn-primary btn-block", type="submit", value="Log In")